*,
*::before,
*::after {
margin:0;
padding: 0;
box-sizing:border-box;

}

body {

background-color:#9e9a75 !important;
width:100%;
margin:auto;
height:auto;
}
:is(.navbar, footer) {
    background-color:#604439;
}

:is(.nav-link) {

    color:white !important;
    }
  

h5 {

color:white !important;

}
.NavCon {


}

.searcher {


}
.NavContent {


}

.SearchBTN {

    background-color:#554840;
   color:white;
border:1px solid black;
width:10rem;
}
.Groups {
   
    background-color:	#554840 !important;
    border:1px solid black !important;
    margin-left:10px;

}
.leftCon {
width:75%;
    display:flex;
    justify-content: space-between;
    
}
.Content {

   
}
.Box {
    text-align: center;
    display:flex;
    flex-grow:1;
    width:50%;
    height:100px;
    background-color:black;
    margin-top:20px;

}
.userBox {
    width:300px;
    height:500px;
    margin-top:20px;
    background-color:	#554840	;
    font-family:Arial, Helvetica, sans-serif;
    box-shadow:5px 5px 10px black;

}
.ImgBack {

    background-color:	#41533b	;
}
.UserContent img {

    margin-top:10px;
    

        width:50%;
        height:8.75rem;
        border-radius:50%;
   margin-bottom:10px;
    

}
.UserContent {

    text-align:center;
   color:white;

}

.UserContent p {

    padding:5px;

}
.Inbox {

width:70%;
border:none;
color:white;
background-color:		#1c222e;
border:1px solid black;

}
.Send {

    width:30%;
    margin-left:5px;
    border:none;
    color:white;
    background-color:		#1c222e;
    border:1px solid black;
    display:block;
    margin-top:5px;
}
.Buttons {

    display:flex;
justify-content: flex-end
;}
.MiddleCon {
width:50%;
display:flex;
flex-direction:column; 

}
.Thought {

background-color:#554840;
color:white;
text-align:center;
padding:10px;
margin-top:20px;
margin-bottom:20px;
}
.PostArea {
  margin-top:10px;
  text-align:center;
  width:100%;

}
#Post {


}

.PostedMsg {

    background-color:#604439 !important;
    color:white;

}
textarea {


}
#Msg {
    resize:none;
    margin-top:10px;
    width:100%;
    margin-top:-17px;
    height:30%;
}